


<html xlmns:th="http://www.thymeleaf.org">


    <head>
        <title>Online Food Order</title>

        <link rel="stylesheet" href="/css/admin.css">
    </head>
    
    <body>
        <!-- Menu Section Starts -->
           <div th:insert="admin/includes/navbar"></div>
        <!-- Menu Section Ends -->
        <!-- Main Content Section Starts -->
        <div class="main-content">
            <div class="wrapper">
                <h1>Administrator</h1>
                <br><br>
                                <br><br>

                <div class="col-4 text-center">

                    
                    <h1>[[${Count}]]</h1>
                    <br />
                    Food Categories
                </div>

                <div class="col-4 text-center">

                    
                    <h1>[[${foodCount}]]</h1>
                    <br />
                    Foods
                </div>

                <div class="col-4 text-center">
                    
                    
                    <h1>2</h1>
                    <br />
                    Total Orders
                </div>

                <div class="col-4 text-center">
                    
                    
                    <h1>$</h1>
                    <br />
                    Revenue Generated
                </div>

                <div class="col-4 text-center">
                    
                    
                    <h1>2</h1>
                    <br />
                    Pending Orders
                </div>

                <div class="col-4 text-center">
                    
                    
                    <h1>0</h1>
                    <br />
                    On Delivery Orders
                </div>


                <div class="col-4 text-center">
                    
                    
                    <h1>0</h1>
                    <br />
                    Cancelled Orders
                </div>


                <div class="col-4 text-center">
                    
                    
                    <h1>1</h1>
                    <br />
                    System Administrator
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
        <!-- Main Content Setion Ends -->

<!-- Footer Section Starts -->
<div class="footer">
            <div class="wrapper">
                <p class="text-center">2022 Developed By Aayam Khadka and Sanjeev Ray</a></p>
            </div>
        </div>
        <!-- Footer Section Ends -->

    </body>
</html>