<div class="menu text-center">
            <div class="wrapper">
                <ul>
                    <li><a href="/adminpanel">Dashboard</a></li>
                    <li><a href="/admin/category/view">Category</a></li>
                    <li><a href="/admin/food/view">Food Items</a></li>
                    <li><a href="/admin/order/view">Order Section</a></li>
                    <li><a href="/admin/view">Manage Admin</a></li>
                    <li><a href="/admin/logout">Logout</a></li>
                </ul>
            </div>
        </div>