<html xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Important to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Website</title>

    <!-- Link our CSS file -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- Navbar Section Starts Here -->
   
	 <div th:insert="/users/users_includes/navbar"></div>
    <!-- fOOD sEARCH Section Starts Here -->
    <section class="food-search text-center">
        <div class="container">
            
            <h2>Foods on <a href="/categories-foods" class="text-white">"Category"</a></h2>

        </div>
    </section>
    <!-- fOOD sEARCH Section Ends Here -->



    <!-- fOOD MEnu Section Starts Here -->
    <section class="food-menu">
        <div class="container">
            <h2 class="text-center">Food Menu</h2>

            
          <div th:each="food:${foodie}">
            <div class="food-menu-box">
                <div class="food-menu-img">
                    
                    
                     <img th:src= "@{${'/images/'+food.select_image}}"  class="img-responsive img-curve"/>
                </div>

                <div class="food-menu-desc">
                
                    <h4>[[${food.title}]]</h4>
                    <p class="food-price">[[${food.price}]]</p>
                    <p class="food-detail">
                      [[${food.description}]]
                    </p>
                    <br>

                    <a  th:href="@{/order(id=${food.id})}" class="btn btn-primary">Order Now</a>
                    
                    
                    </div>
                </div>
                
                
                
               


            <div class="clearfix"></div>

            

        </div>

    </section>
    <!-- fOOD Menu Section Ends Here -->

    <!-- social Section Starts Here -->
    <section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- social Section Ends Here -->

    <!-- footer Section Starts Here -->
    <section class="footer">
        <div class="container text-center">
            <p>Designed By Aayam Khadka and Sanjeev Ray</p>
        </div>
    </section>
    <!-- footer Section Ends Here -->

</body>
</html>