

    
<html xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Important to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Food Order System</title>

    <!-- Link our CSS file -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div th:insert="/users/users_includes/navbar"></div>
    <!-- fOOD sEARCH Section Starts Here -->
    <section class="food-search text-center">
        <div class="container">
            
            <form action="http://localhost/onlinefood-order/food-search" method="POST">
                
            </form>

        </div>
    </section>
    <!-- fOOD sEARCH Section Ends Here -->



    <!-- fOOD MEnu Section Starts Here -->
    <section class="food-menu">
        <div class="container">



     <!-- food sorting section starts here -->
        <div class="move">
<label for="price">Sort By: </label>

  
    <a class="low"id="low" th:href="@{/low}" >price low to high</a>
    <a id="high"th:href="@{/high}">price high to low </a>
 
 
 <!--  <div class="move">
<label for="price">Sort By: </label>
<select name="price" id="price">
  
    <option value="volvo"><a th:href="@{/high}">price low to high></a></option>
    <option value="saab"><a th:href="@{/high}" >price high to low></a></option>
 
</select>
</div>

-->



            <h2 class="text-center">Food Menu</h2>

                         <div th:each="fat:${food}" >           
                        <div class="food-menu-box"  > 
                            <div class="food-menu-img">
                            
                             <img th:src="@{${'/images/'+fat.select_image}}" alt="Chicke Hawain Pizza" class="img-responsive img-curve"/>
                                                                        
                            </div>

                            <div class="food-menu-desc">
                                <h4>[[${fat.title}]]</h4>
                               <p class="food-price">[[${fat.price}]]</p>
                                <p class="food-detail">
                                  [[${fat.description}]]                             </p>
                                <br>

                                      <a th:href="@{/order(id=${fat.id})}" class="btn btn-primary">Order Now</a>
                                
                            </div>
                        </div>

                         </div>
            

            

            <div class="clearfix"></div>

            

        </div>
        



    </section>
    <!-- fOOD Menu Section Ends Here -->


    <!-- social Section Starts Here -->
<section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- social Section Ends Here -->

    <!-- footer Section Starts Here -->
    <section class="footer">
        <div class="container text-center">
            <p>Designed By Aayam Khadka and Sanjeev Ray</S></p>
        </div>
    </section>
    <!-- footer Section Ends Here -->

</body>
</html>